<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.pojo.User">
        <!--        <property name="name" value="Henry injected by class member"/>-->
        <!--        <constructor-arg index="0" value="Henry injected by param index"/>-->
        <!--        <constructor-arg type="java.lang.String" value="Henry injected by type"/>-->
        <!--        <constructor-arg name="name" value="Henry injected by param name"/>-->
        <constructor-arg name="name" value="Henry injected by param name"/>
    </bean>

    <!--Alias-->
    <alias name="user" alias="userAlias"/>

    <!--
    <bean id="user" class="com.pojo.User" name="name1, name2; name3 name4"/>
    id: unique identifier of beam, aka object name
    class: package + class name
    name: equals to alias, one object can have multiple names
    -->

</beans>